:root {
  /* Colours */
  --colour-primary: #004d4d;
  --colour-secondary: #4d4d00;
  --colour-txt-light: white;

  /* Background Colours */
  --light-bg: rgba(0, 0, 0, 0.1);
  --dark-bg: rgba(0, 0, 0, 0.25);
  --hover-bg: rgba(0, 0, 0, 0.5);

  /* Gradients */
  --colour-gradient: -145deg, var(--colour-secondary), var(--colour-primary), var(--colour-secondary), var(--colour-primary);
}

/* Universal */
* {
  /* Resets */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Base Typography & Defaults */
  color: var(--colour-txt-light);
  list-style: none;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 2px 2px var(--colour-primary);
}

/* Root Elements Layout */
html {
  background: black;
}

body {
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(var(--colour-gradient));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow: hidden;
}

/* Animations */
@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 0%; }
}