/* Buttons */
#firstNav a, 
#secondNav a, 
#linkButtons a, 
#emailButton {
  width: 100%;
  background: var(--dark-bg);
  text-align: center;
  display: inline-block;
}

.emailSubmit {
  background: var(--dark-bg);
}

/* Form */
input, 
textarea {
  border: 2px solid var(--colour-primary);
  background: var(--light-bg);
}

.emailInput, 
textarea {
  color: var(--colour-txt-light);
  background: var(--light-bg);
  width: 100%;
}

textarea {
  text-align: left;
}

/* Image */
#headerNav img, 
#secondOutputDiv img, 
#firstOutputDiv img {
  background: var(--light-bg);
}

/* Cards & Containers */
.language {
  border: 4px solid var(--colour-primary);
  border-radius: 15px;
  background: var(--dark-bg);
}

#resumeDisplay {
  width: 100%;
  height: 100%;
  border: 2px solid var(--colour-primary);
  border-radius: 8px;
  background: var(--light-bg);
}

/* Interactive */
.hoverColor:hover {
  background: var(--hover-bg) !important;
  z-index: 1;
  cursor: pointer;
}