/* Buttons */
#first-nav a, 
#second-nav a, 
#link-buttons a, 
#email-button {
  width: 100%;
  background: var(--dark-bg);
  text-align: center;
  display: inline-block;
}

.email-submit {
  background: var(--dark-bg);
}

/* Form */
input, 
textarea {
  border: 2px solid var(--colour-primary);
  background: var(--light-bg);
}

.email-input, 
textarea {
  color: var(--colour-txt-light);
  background: var(--light-bg);
  width: 100%;
}

textarea {
  text-align: left;
}

/* Image */
#header-nav img, 
#second-output-div img, 
#first-output-div img {
  background: var(--light-bg);
}

/* Cards & Containers */
.language {
  border: 4px solid var(--colour-primary);
  border-radius: 15px;
  background: var(--dark-bg);
}

#resume-display, #projects-grid, #project-details {
  width: 100%;
  height: 100%;
  border: 2px solid var(--colour-primary);
  border-radius: 8px;
  background: var(--light-bg);
}

/* Projects */
#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#projects-grid, #project-details {
  flex: 1;
  transition: opacity 0.3s ease;
  opacity: 1;
  padding: 1.5rem;
}

#project-details {
  overflow-y: auto;
  background: var(--light-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#project-details h3 {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  letter-spacing: 1px;
}

#project-details p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 1.5rem 0;
}

#project-buttons {
  display: flex;
  gap: 1rem;
}

#back-to-grid, #github-button {
  background: var(--dark-bg);
  border: 2px solid var(--colour-primary);
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 1.5rem;
  align-self: flex-start;
}


.project-card {
  background: var(--dark-bg);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  pointer-events: auto;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover, #back-to-grid:hover, #github-button:hover {
  transform: scale(1.05);
  background: var(--hover-bg) !important;
}

.project-card h4 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.project-card img {
  max-height: 240px;
  margin-bottom: 0.75rem;
}

.project-card img,
#project-preview {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  -webkit-user-drag: none;
  user-select: none;
}

#project-preview {
  max-height: 250px;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
  pointer-events: none;
}

.fade-out {
  opacity: 0 !important;
  pointer-events: none;
}

/* Interactive */
.hover-colour:hover {
  background: var(--hover-bg) !important;
  z-index: 1;
  cursor: pointer;
}