/* Main */
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header-nav {
  position: fixed;
}

#sections {
  height: 100%;
}

/* Navigation */
#first-nav, 
#second-nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#second-nav {
  flex-direction: column;
}

/* Resume & Project */
#resume-page, #project-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
}

#resume-section, #project-section {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

/* Content Area */
#first-output-div, 
#first-output {
  width: 100%;
}

#skills-div {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image-out {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}