/* Main */
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#headerNav {
  position: fixed;
}

#sections {
  height: 100%;
}

/* Navigation */
#firstNav, 
#secondNav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#secondNav {
  flex-direction: column;
}

/* Resume Page */
#resumePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
}

#resumeSection {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

/* Content Area */
#firstOutputDiv, 
#firstOutput {
  width: 100%;
}

#skillsDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.imageOut {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}