/* Media Queries */
/* Mobile */
@media (max-width: 480px) {
    /* Header */
    header {
        width: 90vw;
        margin: 5vh auto 0;
    }

    header h1 {
        font-size: 9.5vw;
        line-height: 9.5vw;
        letter-spacing: 3px;
    }

    header p, 
    #firstOutputDiv a p,
    #secondOutputDiv a p {
        font-size: 3vw; 
        line-height: 5vw;
    }

    header p a {
        background: var(--dark-bg);
        border: 2px solid var(--colour-primary);
        border-radius: 5px;
        padding: 2.5px;
    }

    /* Navigation */
    #headerNav {
        top: 5vh;
        right: 5%;
    }

    #firstNav, 
    #secondNav {
        column-gap: 5px;
    }

    #secondNav {
        margin: 2vh 0 0;
    }

    #firstNav a, 
    #secondNav a, 
    #linkButtons a, 
    #emailButton {
        font-size: 4vw;
        line-height: 4vw;
        border: 2px solid var(--colour-primary);
        border-radius: 5px;
        padding: 1.5vw;
    }

    /* Image */
    #headerNav img, 
    #secondOutputDiv img, 
    #firstOutputDiv img {
        width: 12.5vw;
        height: 12.5vw;
        padding: 2px;
        border: 2px solid var(--colour-primary);
        border-radius: 5px;
    }

    #emailIcon {
        display: none;
    }

    /* Sections */
    #sections {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto 5vh;
    }

    #firstSection, 
    #secondSection {
        display: flex;
    }

    #firstSection {
        flex-direction: column;
        height: 55%;
    }

    #secondSection {
        flex-direction: column-reverse;
    }

    #contactSection {
        display: flex;
        flex-direction: column;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv textArea, 
    #skillsDiv {
        font-size: 2.75vmin;
        line-height: 3.75vmin;
    }

    #firstOutputDiv, 
    #secondOutputDiv {
        margin: 2vh 0 0;
    }

    #firstOutputDiv a, 
    #firstOutputDiv a img, 
    #secondOutputDiv a, 
    #secondOutputDiv a img {
        border-radius: 10px;
    }

    #secondOutputDiv, 
    #firstOutputDiv {
        display: flex;
        justify-content: space-evenly;
    }

    /* Forms */
    input, 
    textarea, 
    .emailSubmit {
        width: 100%;
        padding: 4px;
    }

    textarea {
        height: 8vh;
    }

    .emailInput {
        margin: 1vh 0;
    }

    /* Other */
    #linkButtons a {
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
    }

    .language {
        width: 15vw !important;
        height: 20vw !important;
        padding: 10px;
    }

    .imageOut, 
    #skillsDiv {
        gap: 5vw;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 789px) {
    /* Header */
    header {
        width: 90vw;
        margin: 5vh auto 0;
    }
    header h1 {
        font-size: 9.5vmin;
        line-height: 9.5vmin;
        letter-spacing: 3px;
    }
    header p,
    #firstOutputDiv a p,
    #secondOutputDiv a p {
        font-size: 3vmin;
        line-height: 5vmin;
    }
    header p a {
        border-radius: 5px;
        padding: 2.5px;
        background: var(--dark-bg);
        border: 2px solid var(--colour-primary);
    }

    /* Navigation */
    #headerNav {
        top: 5vh;
        right: 5%;
    }

    #firstNav, 
    #secondNav {
        margin: 2vh 0 0;
        column-gap: 5px;
    }

    #firstNav a, 
    #secondNav a, 
    #linkButtons a, 
    #emailButton {
        font-size: 3.5vmin;
        line-height: 3.5vmin;
        border: 4px solid var(--colour-primary);
        border-radius: 10px;
        padding: 1.5vmin;
    }

    /* Image */
    #headerNav img, 
    #secondOutputDiv img, 
    #firstOutputDiv img {
        padding: 2px;
        width: 10vmin;
        height: 10vmin;
        border: 4px solid var(--colour-primary);
        border-radius: 5px;
    }

    #emailIcon {
        display: none;
    }

    /* Sections */
    #sections {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto 5vh;
    }

    #firstSection, 
    #secondSection {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    #firstSection {
        height: 67%;
    }

    #secondSection {
        flex-direction: column-reverse;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv textArea, 
    #skillsDiv {
        font-size: 3vmin;
        line-height: 3vmin;
    }

    #firstOutputDiv, 
    #secondOutputDiv {
        margin: 2vh 0 0;
    }

    #firstOutputDiv a, 
    #firstOutputDiv a img, 
    #secondOutputDiv a, 
    #secondOutputDiv a img {
        border-radius: 10px;
    }

    #secondOutputDiv, 
    #firstOutputDiv {
        display: flex;
        justify-content: space-evenly;
    }

    /* Forms */
    input, 
    textarea, 
    .emailSubmit {
        width: 100%;
        padding: 6px;
    }

    textarea {
        height: 6vh;
    }

    .emailInput {
        margin: 1vh 0;
    }

    /* Other */
    #linkButtons a {
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
    }

    .language {
        width: 15vmin !important;
        height: 20vmin !important;
        padding: 10px;
    }

    .imageOut, 
    #skillsDiv {
        gap: 3vmin;
    }
}

/* Tablet Large */
@media (min-width: 790px) and (max-width: 972px) {
    /* Header */
    header {
        width: 90vw;
        margin: 5vh auto 0;
    }

    header h1 {
        font-size: 9.5vw;
        line-height: 9.5vw;
        letter-spacing: 3px;
    }

    header p, 
    #firstOutputDiv a p,
    #secondOutputDiv a p {
        font-size: 3vw;
        line-height: 5vw;
    }

    header p a {
        border-radius: 5px;
        padding: 2.5px;
        background: var(--dark-bg);
        border: 2px solid var(--colour-primary);
    }

    /* Navigation */
    #headerNav {
        top: 5vh;
        right: 5%;
    }
    
    #firstNav, 
    #secondNav {
        margin: 2vh 0 0;
        column-gap: 5px;
    }

    #firstNav a, 
    #secondNav a, 
    #linkButtons a, 
    #emailButton {
        font-size: 3.5vw;
        line-height: 3.5vw;
        border: 4px solid var(--colour-primary);
        border-radius: 10px;
        padding: 1.5vw;
    }

    /* Images */
    #headerNav img, 
    #secondOutputDiv img, 
    #firstOutputDiv img {
        padding: 2px;
        width: 10vw;
        height: 10vw;
        border: 4px solid var(--colour-primary);
        border-radius: 5px;
    }

    #emailIcon {
        display: none;
    }

    /* Sections */
    #sections {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto 5vh;
    }
    #firstSection, 
    #secondSection {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    #firstSection {
        height: 67%;
    }
    #secondSection {
        flex-direction: column-reverse;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv textArea, 
    #skillsDiv {
        font-size: 3vw;
        line-height: 3vw;
    }

    #firstOutputDiv, 
    #secondOutputDiv {
        margin: 2vh 0 0;
    }

    #firstOutputDiv a, 
    #firstOutputDiv a img, 
    #secondOutputDiv a, 
    #secondOutputDiv a img {
        border-radius: 10px;
    }

    #secondOutputDiv, 
    #firstOutputDiv {
        display: flex;
        justify-content: space-evenly;
    }

    /* Forms */
    input, 
    textarea, 
    .emailSubmit {
        width: 100%;
        padding: 6px;
    }

    textarea {
        height: 6vh;
    }

    .emailInput {
        margin: 1vh 0;
    }

    /* Other */
    #linkButtons a {
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
    }

    .language {
        width: 15vw !important;
        height: 20vw !important;
        padding: 10px;
    }

    .imageOut, 
    #skillsDiv {
        gap: 3vw;
    }
}

/* Desktop Small */
@media (min-width: 973px) and (max-width: 1024px) {
    /* Header */
    header {
        width: 80vw;
        margin: 10vh auto 0;
    }

    header h1 {
        font-size: 7.5vw;
        line-height: 7.5vw;
        letter-spacing: 3px;
    }

    header p, 
    #firstOutputDiv a p,
    #secondOutputDiv a p {
        font-size: 2.25vw;
        line-height: 2.25vw;
    }
    
    header p a {
        border-radius: 5px;
        padding: 0 5px;
    }

    /* Navigation */
    #headerNav {
        top: 10vh;
        right: 10%;
    }
    
    #firstNav, 
    #secondNav {
        margin-top: 8vh;
        column-gap: 2px;
    }

    #firstNav a, 
    #secondNav a,
    #linkButtons a, 
    #emailButton {
        font-size: 2.5vw;
        line-height: 2.5vw;
        border: 4px solid var(--colour-primary);
        border-radius: 10px;
        padding: 1.5vw;
    }

    /* Images */
    #headerNav img {
        margin-left: 10px;
    }

    #headerNav img, 
    #firstOutputDiv img,
     #secondOutputDiv img {
        padding: 5px;
        width: 8vw;
        height: 8vw;
        border: 4px solid var(--colour-primary);
        border-radius: 20px;
    }

    /* Sections */
    #sections {
        height: 100%;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    #firstSection, 
    #secondSection, 
    #contactSection {
        width: 38vw;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv 
    textArea, 
    #skillsDiv {
        font-size: 1.8vmin;
        line-height: 2.2vmin;
    }

    #firstOutputDiv, 
    #secondOutputDiv {
        margin-top: 4vh;
    }

    #firstOutputDiv a, 
    #firstOutputDiv a img, 
    #secondOutputDiv a, 
    #secondOutputDiv a img {
        border-radius: 25px;
    }

    #secondOutputDiv, 
    #firstOutputDiv {
        display: flex;
        justify-content: space-evenly;
    }

    /* Forms */
    input, 
    textarea, 
    .emailSubmit {
        width: 100%;
        padding: 10px;
    }

    textarea {
        height: 10vh;
    }

    .emailInput {
        margin: 1vh 0;
    }

    /* Other */
    #linkButtons a {
        margin-top: 1vh;
    }

    .language {
        width: 8vw !important;
        height: 10vw !important;
        padding: 10px;
    }

    .imageOut, 
    #skillsDiv {
        gap: 1.8vw;
    }
}

/* Desktop Medium */
@media (min-width: 1025px) and (max-width: 1200px) {
    /* Header */
    header {
        width: 80vw;
        margin: 10vh auto 0;
    }

    header h1 {
        font-size: 6.75vw;
        line-height: 6.75vw;
        letter-spacing: 3px;
    }

    header p, 
    #firstOutputDiv a p,
    #secondOutputDiv a p {
        font-size: 1.8vw;
        line-height: 1.8vw;
    }

    header p a {
        border-radius: 5px;
        padding: 0 5px;
    }

    /* Navigation */
    #headerNav {
        top: 10vh;
        right: 10%;
    }

    #headerNav img {
        margin-left: 10px;
    }

    #headerNav img, 
    #firstOutputDiv img, 
    #secondOutputDiv img {
        padding: 5px;
        width: 5vw;
        height: 5vw;
        border: 4px solid var(--colour-primary);
        border-radius: 20px;
    }

    /* Sections */
    #sections {
        height: 100%;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    #firstSection, 
    #secondSection {
        width: 35vw;
    }

    /* Navigation */
    #firstNav, 
    #secondNav {
        margin-top: 10vh;
        column-gap: 10px;
    }

    #firstNav a, 
    #secondNav a, 
    #linkButtons a, 
    #emailButton {
        font-size: 1.5vw;
        line-height: 2.5vw;
        border: 4px solid var(--colour-primary);
        border-radius: 10px;
        padding: 0 2.5vw;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv textArea, 
    #skillsDiv {
        font-size: 1vw;
        line-height: 1.2vw;
    }

    #firstOutputDiv, 
    #secondOutputDiv {
        margin-top: 4vh;
    }

    #firstOutputDiv a, 
    #firstOutputDiv a img, 
    #secondOutputDiv a, 
    #secondOutputDiv a img {
        border-radius: 15px;
    }

    #secondOutputDiv, 
    #firstOutputDiv {
        display: flex;
        justify-content: space-evenly;
    }

    /* Forms */
    input, 
    textarea, 
    .emailSubmit {
        width: 100%;
        padding: 10px;
    }

    textarea {
        height: 10vh;
    }

    .emailInput {
        margin: 1vh 0;
    }

    /* Other */
    #linkButtons a {
        margin-top: 1vh;
    }

    .language {
        width: 8vw !important;
        height: 10vw !important;
        padding: 10px;
    }
    .imageOut, 
    #skillsDiv {
        gap: 1.8vw;
    }
}

/* Desktop Large */
@media (min-width: 1201px) {    
    /* Header */
    header {
        width: 80vw;
        margin: 10vh auto 0;
    }

    header h1 {
        font-size: 6.75vw;
        line-height: 6.75vw;
        letter-spacing: 3px;
    }

    header p, 
    #firstOutputDiv a p,
    #secondOutputDiv a p {
        font-size: 1.8vw;
        line-height: 1.8vw;
    }

    header p a {
        border-radius: 5px;
        padding: 0 5px;
    }

    /* Navigation */
    #headerNav {
        top: 10vh;
        right: 10%;
    }
    
    #firstNav, 
    #secondNav {
        margin-top: 10vh;
        column-gap: 10px;
    }

    #firstNav a, 
    #secondNav a, 
    #linkButtons a, 
    #emailButton {
        font-size: 1.5vw;
        line-height: 2.5vw;
        border: 4px solid var(--colour-primary);
        border-radius: 15px;
        padding: 0 2.5vw;
    }

    /* Images */
    #headerNav img {
        margin-left: 10px;
    }

    #headerNav img, 
    #firstOutputDiv img, 
    #secondOutputDiv img {
        padding: 5px;
        width: 5vw;
        height: 5vw;
        border: 4px solid var(--colour-primary);
        border-radius: 20px;
    }

    /* Sections */
    #sections {
        height: 100%;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    #firstSection, 
    #secondSection {
        width: 35vw;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv textArea, 
    #skillsDiv {
        font-size: 1vw;
        line-height: 1.2vw;
    }

    #firstOutputDiv, 
    #secondOutputDiv {
        margin-top: 4vh;
    }

    #firstOutputDiv a, 
    #firstOutputDiv a img, 
    #secondOutputDiv a, 
    #secondOutputDiv a img {
        border-radius: 20px;
    }

    #secondOutputDiv, 
    #firstOutputDiv {
        display: flex;
        justify-content: space-evenly;
    }

    /* Forms */
    input, 
    textarea, 
    .emailSubmit {
        width: 100%;
        padding: 10px;
    }

    textarea {
        height: 10vh;
    }

    .emailInput {
        margin: 0.5vh 0;
    }

    /* Other */
    #linkButtons a {
        margin-top: 1vh;
    }

    .language {
        width: 6vw !important;
        height: 8vw !important;
        padding: 10px;
    }
    .imageOut, 
    #skillsDiv {
        gap: 1.8vw;
    }
}

/* Landscope Mobile */
@media (max-height: 430px) and (max-width: 789px){
    /* Images */
    #emailIcon {
        display: inline-block !important;
    }

    /* Navigation */
    #firstNav a, 
    #secondNav a, 
    #linkButtons a,
    #emailButton {
        font-size: 2.5vmin;
        line-height: 3.5vmin;
        border: 2px solid var(--colour-primary);
        border-radius: 10px;
        padding: 1vmin;
    }

    /* Sections */
    #sections {
        flex-direction: row !important;
    }

    #secondSection {
        flex-direction: column !important;
    }

    #firstSection, 
    #secondSection {
        width: 42vw !important;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv textArea, 
    #skillsDiv {
        font-size: 2.5vmin !important;
        line-height: 2.5vmin !important;
    }
}
@media (max-height: 430px) and (max-width: 972px){
    /* Header */
    header {
        width: 85vw;
    }

    header h1 {
        font-size: 7.5vw;
        line-height: 6.5vw;
        letter-spacing: 3px;
    }

    header p, 
    #firstOutputDiv a p,
    #secondOutputDiv a p {
        font-size: 2.5vw;
        line-height: 4vw;
    }

    header p a {
        border-radius: 5px;
        padding: 2.5px;
        background: var(--dark-bg);
        border: 2px solid var(--colour-primary);
    }

    /* Navigation */
    #headerNav {
        right: 7%;
    }
    
    #firstNav a, 
    #secondNav a, 
    #linkButtons a, 
    #emailButton {
        font-size: 3.5vmin;
        line-height: 3.5vmin;
        border: 2px solid var(--colour-primary);
        border-radius: 10px;
        padding: 1vmin;
    }

    /* Images */
    #emailIcon {
        display: inline-block !important;
    }

    #headerNav img, 
    #secondOutputDiv img, 
    #firstOutputDiv img {
        padding: 2px;
        width: 8vw;
        height: 8vw;
        border: 4px solid var(--colour-primary);
        border-radius: 5px;
    }

    /* Sections */
    #sections {
        width: 85vw;
        flex-direction: row !important;
    }

    #firstSection, 
    #secondSection {
        width: 42vw !important;
    }

    #secondSection {
        flex-direction: column !important;
    }

    /* Content */
    #firstOutput, 
    #secondOutput, 
    #firstOutputDiv input, 
    #firstOutputDiv textArea, 
    #skillsDiv {
        font-size: 2.25vmin !important;
        line-height: 2.25vmin !important;
    }

    /* Other */
    .language {
        width: 5vw !important;
        height: 6vw !important;
    }
    .imageOut, 
    #skillsDiv {
        gap: 1vw;
    }
}