/* Font */
#first-output, 
#second-output, 
#first-output-div input, 
#first-output-div textarea, 
#skills-div, 
.email-submit {
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Alignment */
#second-output-div a, 
#first-output-div a {
  text-align: center;
}

#first-output-div p {
  text-align: left !important;
}

#first-output-div a p {
  text-align: center !important;
}