html {
  background: black;
  color:       var(--text-primary);
  text-shadow: var(--text-shadow);
  font-family: "Bebas Neue", system-ui, sans-serif;
}

body {
  width:  100%;
  height: 100dvh;
  background:         var(--bg-gradient);
  background-size:    var(--bg-gradient-size);
  animation: gradient var(--bg-gradient-duration) ease infinite;
  overflow:        hidden;
}
