html {
  background: black;
  color: var(--colour-txt);
  text-shadow: 2px 2px var(--colour-primary);
  font-family: "Bebas Neue", system-ui, sans-serif;
}

body {
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(var(--colour-gradient));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow: hidden;
}

.hidden {
  display: none;
  pointer-events: none;
}

