:root {
  /* Colours */
  --primary: #004d4d;
  --secondary: #4d4d00;

  /* Text Colour */
  --text-primary: white;

  /* Background Colours */
  --bg-light: rgba(0, 0, 0, 0.1);
  --bg-dark: rgba(0, 0, 0, 0.25);
  --bg-hover: rgba(0, 0, 0, 0.5);
  --bg-gradient: linear-gradient(-145deg, var(--secondary), var(--primary), var(--secondary), var(--primary));

  /* Durations */
  --hover-bg-duration: 0.2s;
  --hover-bounce-duration: 0.2s;
}

