/* Desktop */
@media (min-width: 973px) {
  /* Resume */
  .page {
    display:         flex;
    flex-direction:  row;
    align-items:     flex-start;
    justify-content: space-evenly;
    padding:         0 2.5vw;
  }

 .page-header {
    width:  25vw;
    margin: 10vh 0 0 10vh;
  }

  .page-section {
    width:      55vw;
    height:     90vh;
    margin-top: 4vh;
  }

  /* Header */
  header {
    width:  80vw;
    margin: 10vh auto 0;
  }

  /* Sections */
  #sections {
    height:  100%;
    width:   80vw;
    display: flex;
    margin:  auto;
    justify-content: space-between;
  }

  #first-section,
  #second-section,
  #contact-section {
    width: 38vw;
  }
}


/* Desktop Medium */
@media (min-width: 1025px) {
  /* Sections */
  #first-section,
  #second-section {
    width: 35vw;
  }
}
