/* Desktop */
@media (min-width: 973px) {
  /* Resume */
  .page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 2.5vw;
  }

 .page-header {
    width: 25vw;
    margin: 10vh 0 0 10vh;
  }

  .page-section {
    width: 55vw;
    height: 90vh;
    margin-top: 4vh;
  }

  /* Header */
  header {
    width: 80vw;
    margin: 10vh auto 0;
  }

  header h1 {
    font-size: 7.5vw;
    line-height: 7.5vw;
    letter-spacing: 3px;
  }

  header p, 
  #first-output-div a p,
  #second-output-div a p {
    font-size: 2.25vw;
    line-height: 2.25vw;
  }

  header p a {
    border-radius: 5px;
    padding: 0 5px;
  }

  /* Navigation */
  #header-nav {
    top: 10vh;
    right: 10%;
  }

  #first-nav, 
  #second-nav {
    margin-top: 8vh;
    column-gap: 2px;
  }

  #first-nav a, 
  #second-nav a,
  #link-buttons a, 
  #email-button {
    font-size: 2.5vw;
    line-height: 2.5vw;
    border: 4px solid var(--colour-primary);
    border-radius: 10px;
    padding: 1.5vw;
  }

  /* Images */
  #header-nav img {
    margin-left: 10px;
  }

  #header-nav img, 
  #first-output-div img,
  #second-output-div img {
    padding: 5px;
    width: 8vw;
    height: 8vw;
    border: 4px solid var(--colour-primary);
    border-radius: 20px;
  }

  /* Sections */
  #sections {
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  #first-section, 
  #second-section, 
  #contact-section {
    width: 38vw;
  }

  /* Content */
  #first-output, 
  #second-output, 
  #first-output-div input, 
  #first-output-div textarea, 
  #skills-div {
    font-size: 1.8vmin;
    line-height: 2.2vmin;
  }

  #first-output-div, 
  #second-output-div {
    margin-top: 4vh;
  }

  #first-output-div a, 
  #first-output-div a img, 
  #second-output-div a, 
  #second-output-div a img {
    border-radius: 25px;
  }

  #second-output-div, 
  #first-output-div {
    display: flex;
    justify-content: space-evenly;
  }

  /* Forms */
  input, 
  textarea, 
  .email-submit {
    width: 100%;
    padding: 10px;
  }

  textarea {
    height: 10vh;
  }

  .email-input {
    margin: 1vh 0;
  }

  /* Other */
  #link-buttons a {
    margin-top: 1vh;
  }

  .tech {
    width: 8vw;
    height: 10vw;
    padding: 10px;
  }

  .image-out, 
  #skills-div {
    gap: 1.8vw;
  }
}


/* Desktop Medium */
@media (min-width: 1025px) {
  /* Header */
  header h1 {
    font-size: 6.75vw;
    line-height: 6.75vw;
    letter-spacing: 3px;
  }

  header p, 
  #first-output-div a p,
  #second-output-div a p {
    font-size: 1.8vw;
    line-height: 1.8vw;
  }

  /* Navigation */
  #first-nav, 
  #second-nav {
    margin-top: 10vh;
    column-gap: 10px;
  }

  #first-nav a, 
  #second-nav a, 
  #link-buttons a, 
  #email-button {
    font-size: 1.5vw;
    padding: 0 2.5vw;
  }

  /* Images */
  #header-nav img, 
  #first-output-div img, 
  #second-output-div img {
    width: 5vw;
    height: 5vw;
  }

  /* Sections */
  #first-section, 
  #second-section {
    width: 35vw;
  }

  /* Content */
  #first-output, 
  #second-output, 
  #first-output-div input, 
  #first-output-div textarea, 
  #skills-div {
    font-size: 1vw;
    line-height: 1.2vw;
  }

  #first-output-div a, 
  #first-output-div a img, 
  #second-output-div a, 
  #second-output-div a img {
    border-radius: 15px;
  }
}

/* Desktop Large */
@media (min-width: 1201px) {
  /* Navigation */
  #first-nav a, 
  #second-nav a, 
  #link-buttons a, 
  #email-button {
    border-radius: 15px;
  }

  /* Content */
  #first-output-div a, 
  #first-output-div a img, 
  #second-output-div a, 
  #second-output-div a img {
    border-radius: 20px;
  }

  /* Forms */
  .email-input {
    margin: 0.5vh 0;
  }

  /* Other */
  .tech {
    width: 6vw;
    height: 8vw;
    padding: 10px;
  }
}

