@media (max-height: 430px) and (max-width: 789px){
  /* Images */
  #email-icon {
    display: inline-block;
  }

  /* Sections */
  #sections {
    flex-direction: row;
  }

  #second-section {
    flex-direction: column;
  }

  #first-section,
  #second-section {
    width: 42vw;
  }
}
@media (max-height: 430px) and (max-width: 972px){
  /* Header */
  header {
    width: 85vw;
  }

  /* Navigation */
  #header-nav {
    right: 7%;
  }

  /* Images */
  #email-icon {
    display: inline-block;
  }

  /* Sections */
  #sections {
    width:          85vw;
    flex-direction: row;
  }

  #first-section,
  #second-section {
    width: 42vw;
  }

  #second-section {
    flex-direction: column;
  }
}

