@media (max-width: 480px) {
  /* Header */
  header {
    width:  90vw;
    margin: 5vh auto 0;
  }

  /* Image */
  #email-icon {
    display: none;
  }

  /* Sections */
  #sections {
    width:   90vw;
    margin:  0 auto 5vh;
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
  }

  #first-section,
  #second-section {
    display: flex;
  }

  #first-section {
    height:         55%;
    flex-direction: column;
  }

  #second-section {
    flex-direction: column-reverse;
  }

  #contact-section {
    display:        flex;
    flex-direction: column;
  }

  /* Content */
  #first-output-div,
  #second-output-div {
    margin: 2vh 0 0;
  }

  #second-output-div,
  #first-output-div {
    display:         flex;
    justify-content: space-evenly;
  }

  /* Forms */
  input,
  textarea,
  .email-submit {
    width:   100%;
    padding: 4px;
  }

  textarea {
    height: 8vh;
  }

  .email-input {
    margin: 1vh 0;
  }
}

