@media (min-width: 481px) and (max-width: 789px) {
  /* Header */
  header {
    width:  90vw;
    margin: 5vh auto 0;
  }

  /* Image */
  #email-icon {
    display: none;
  }

  /* Sections */
  #sections {
    width:   90vw;
    margin:  0 auto 5vh;
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
  }

  #first-section,
  #second-section {
    width:          90vw;
    display:        flex;
    flex-direction: column;
  }

  #first-section {
    height: 67%;
  }

  #second-section {
    flex-direction: column-reverse;
  }
}

