@media (min-width: 481px) and (max-width: 789px) {
  /* Header */
  header {
    width:  90vw;
    margin: 5vh auto 0;
  }

  /* Navigation */
  #header-nav {
    top:   5vh;
    right: 5%;
  }

  #first-nav,
  #second-nav {
    margin:     2vh 0 0;
    column-gap: 5px;
  }

  /* Image */
  #email-icon {
    display: none;
  }

  /* Sections */
  #sections {
    width:   90vw;
    margin:  0 auto 5vh;
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
  }

  #first-section,
  #second-section {
    width:          90vw;
    display:        flex;
    flex-direction: column;
  }

  #first-section {
    height: 67%;
  }

  #second-section {
    flex-direction: column-reverse;
  }

  /* Content */
  #first-output-div,
  #second-output-div {
    margin: 2vh 0 0;
  }

  #second-output-div,
  #first-output-div {
    display:         flex;
    justify-content: space-evenly;
  }

  /* Forms */
  input,
  textarea,
  .email-submit {
    width:   100%;
    padding: 6px;
  }

  textarea {
    height: 6vh;
  }

  .email-input {
    margin: 1vh 0;
  }
}

