.tech {
  border: 4px solid var(--colour-primary);
  border-radius: 15px;
  background: var(--dark-bg);
}

#resume-display, 
#projects-grid, 
#project-details {
  width: 100%;
  height: 100%;
  border: 2px solid var(--colour-primary);
  border-radius: 8px;
  background: var(--light-bg);
}
