input, 
textarea {
  border:     var(--border-thin);
  background: var(--bg-light);
}

.email-input, 
textarea {
  color:      var(--text-primary);
  background: var(--bg-light);
  width:      100%;
}

textarea {
  text-align: left;
}

/* Typography */
#first-output, 
#second-output, 
#first-output-div input, 
#first-output-div textarea, 
#skills-div, 
.email-submit {
  font-family: Arial, Helvetica, sans-serif;
}

