* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--colour-txt-light);
  list-style: none;
  text-decoration: none;
  text-shadow: 2px 2px var(--colour-primary);
  font-family: "Bebas Neue", system-ui, sans-serif;
}
