html {
  background: black;
}

body {
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(var(--colour-gradient));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow: hidden;
}
