#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#projects-grid, 
#project-details {
  flex: 1;
  transition: opacity 0.3s ease;
  opacity: 1;
  padding: 1.5rem;
}

#project-details {
  overflow-y: auto;
  background: var(--light-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#project-details h3 {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  letter-spacing: 1px;
}

#project-details p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 1.5rem 0;
}

#project-buttons {
  display: flex;
  gap: 1rem;
}

.project-card {
  background: var(--dark-bg);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  pointer-events: auto;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  transform: scale(1.05);
  background: var(--hover-bg) !important;
}

.project-card h4 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.project-languages {
  display: flex;
  gap: 0.75rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.language-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: var(--light-bg);
  padding: 0.5rem;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.language-icon:hover {
  transform: scale(1.1);
}