/* Page Layouts */
.layout-single {
  width:          100%;
  height:         100dvh;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  padding:        var(--space-3-5) var(--space-3);
  gap:            var(--space-2);
}

/* Page Headers */
.header {
  width:           100%;
  display:         flex;
  justify-content: space-between;
  align-items:     flex-start;
  flex-wrap:       wrap;
  gap:             var(--space-3-5);
}

.header h1 {
  font-size:      var(--text-display);
  line-height:    1;
  letter-spacing: var(--letter-spacing-lg);
}

.header p {
  font-size:  var(--text-lg);
  margin-top: var(--space-2);
}

.header p .btn {
  font-size: var(--text-base);
  padding:   var(--space-1) var(--space-2);
}

/* Single Layout */
.panel-single {
  width:           100%;
  flex:            1;
  min-height:      0;
  display:         flex;
  justify-content: center;
  align-items:     center;
}

/* Desktop */
@media (min-width: 768px){
  /* Single Layout */
  .layout-single {
    padding:         var(--space-5) var(--space-7);
    gap:             var(--space-4);
    flex-direction:  row;
    align-items:     flex-start;
    justify-content: space-evenly;
  }

  .layout-single .header {
    width:      25%;
    margin-top: var(--space-4);
  }

  .panel-single {
    width:  60%;
    height: 90%;
  }
}
