@import url('settings/variables.css');
@import url('settings/animations.css');

@import url('base/reset.css');
@import url('base/root.css');

@import url('layout/main.css');
@import url('layout/sections.css');
@import url('layout/navigation.css');

@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/images.css');
@import url('components/cards.css');
@import url('components/projects.css');

@import url('utilities/utilities.css');

@import url('responsive/mobile.css');
@import url('responsive/mobile-landscape.css');
@import url('responsive/tablet.css');
@import url('responsive/tablet-large.css');
@import url('responsive/desktop.css');
@import url('responsive/desktop-small.css');
@import url('responsive/desktop-medium.css');
@import url('responsive/desktop-large.css');

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/bebas-neue-v16-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
