@media (min-width: 973px) and (max-width: 1024px) {
  /* Header */
  header {
    width: 80vw;
    margin: 10vh auto 0;
  }

  header h1 {
    font-size: 7.5vw;
    line-height: 7.5vw;
    letter-spacing: 3px;
  }

  header p, 
  #first-output-div a p,
  #second-output-div a p {
    font-size: 2.25vw;
    line-height: 2.25vw;
  }

  header p a {
    border-radius: 5px;
    padding: 0 5px;
  }

  /* Navigation */
  #header-nav {
    top: 10vh;
    right: 10%;
  }

  #first-nav, 
  #second-nav {
    margin-top: 8vh;
    column-gap: 2px;
  }

  #first-nav a, 
  #second-nav a,
  #link-buttons a, 
  #email-button {
    font-size: 2.5vw;
    line-height: 2.5vw;
    border: 4px solid var(--colour-primary);
    border-radius: 10px;
    padding: 1.5vw;
  }

  /* Images */
  #header-nav img {
    margin-left: 10px;
  }

  #header-nav img, 
  #first-output-div img,
  #second-output-div img {
    padding: 5px;
    width: 8vw;
    height: 8vw;
    border: 4px solid var(--colour-primary);
    border-radius: 20px;
  }

  /* Sections */
  #sections {
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  #first-section, 
  #second-section, 
  #contact-section {
    width: 38vw;
  }

  /* Content */
  #first-output, 
  #second-output, 
  #first-output-div input, 
  #first-output-div 
  text-area, 
  #skills-div {
    font-size: 1.8vmin;
    line-height: 2.2vmin;
  }

  #first-output-div, 
  #second-output-div {
    margin-top: 4vh;
  }

  #first-output-div a, 
  #first-output-div a img, 
  #second-output-div a, 
  #second-output-div a img {
    border-radius: 25px;
  }

  #second-output-div, 
  #first-output-div {
    display: flex;
    justify-content: space-evenly;
  }

  /* Forms */
  input, 
  textarea, 
  .email-submit {
    width: 100%;
    padding: 10px;
  }

  textarea {
    height: 10vh;
  }

  .email-input {
    margin: 1vh 0;
  }

  /* Other */
  #link-buttons a {
    margin-top: 1vh;
  }

  .tech {
    width: 8vw !important;
    height: 10vw !important;
    padding: 10px;
  }

  .image-out, 
  #skills-div {
    gap: 1.8vw;
  }
}