@media (max-width: 480px) {
  /* Header */
  header {
    width: 90vw;
    margin: 5vh auto 0;
  }

  header h1 {
    font-size: 9.5vw;
    line-height: 9.5vw;
    letter-spacing: 3px;
  }

  header p, 
  #first-output-div a p,
  #second-output-div a p {
    font-size: 3vw; 
    line-height: 5vw;
  }

  header p a {
    background: var(--dark-bg);
    border: 2px solid var(--colour-primary);
    border-radius: 5px;
    padding: 2.5px;
  }

  /* Navigation */
  #header-nav {
    top: 5vh;
    right: 5%;
  }

  #first-nav, 
  #second-nav {
    column-gap: 5px;
  }

  #second-nav {
    margin: 2vh 0 0;
  }

  #first-nav a, 
  #second-nav a, 
  #link-buttons a, 
  #email-button {
    font-size: 4vw;
    line-height: 4vw;
    border: 2px solid var(--colour-primary);
    border-radius: 5px;
    padding: 1.5vw;
  }

  /* Image */
  #header-nav img, 
  #second-output-div img, 
  #first-output-div img {
    width: 12.5vw;
    height: 12.5vw;
    padding: 2px;
    border: 2px solid var(--colour-primary);
    border-radius: 5px;
  }

  #email-icon {
    display: none;
  }

  /* Sections */
  #sections {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto 5vh;
  }

  #first-section, 
  #second-section {
    display: flex;
  }

  #first-section {
    flex-direction: column;
    height: 55%;
  }

  #second-section {
    flex-direction: column-reverse;
  }

  #contact-section {
    display: flex;
    flex-direction: column;
  }

  /* Content */
  #first-output, 
  #second-output, 
  #first-output-div input, 
  #first-output-div textarea, 
  #skills-div {
    font-size: 2.75vmin;
    line-height: 3.75vmin;
  }

  #first-output-div, 
  #second-output-div {
    margin: 2vh 0 0;
  }

  #first-output-div a, 
  #first-output-div a img, 
  #second-output-div a, 
  #second-output-div a img {
    border-radius: 10px;
  }

  #second-output-div, 
  #first-output-div {
    display: flex;
    justify-content: space-evenly;
  }

  /* Forms */
  input, 
  textarea, 
  .email-submit {
    width: 100%;
    padding: 4px;
  }

  textarea {
    height: 8vh;
  }

  .email-input {
    margin: 1vh 0;
  }

  /* Other */
  #link-buttons a {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
  }

  .language {
    width: 15vw !important;
    height: 20vw !important;
    padding: 10px;
  }

  .image-out, 
  #skills-div {
    gap: 5vw;
  }
}
