@media (min-width: 481px) and (max-width: 789px) {
  /* Header */
  header {
    width: 90vw;
    margin: 5vh auto 0;
  }
  header h1 {
    font-size: 9.5vmin;
    line-height: 9.5vmin;
    letter-spacing: 3px;
  }
  header p,
  #first-output-div a p,
  #second-output-div a p {
    font-size: 3vmin;
    line-height: 5vmin;
  }
  header p a {
    border-radius: 5px;
    padding: 2.5px;
    background: var(--dark-bg);
    border: 2px solid var(--colour-primary);
  }

  /* Navigation */
  #header-nav {
    top: 5vh;
    right: 5%;
  }

  #first-nav, 
  #second-nav {
    margin: 2vh 0 0;
    column-gap: 5px;
  }

  #first-nav a, 
  #second-nav a, 
  #link-buttons a, 
  #email-button {
    font-size: 3.5vmin;
    line-height: 3.5vmin;
    border: 4px solid var(--colour-primary);
    border-radius: 10px;
    padding: 1.5vmin;
  }

  /* Image */
  #header-nav img, 
  #second-output-div img, 
  #first-output-div img {
    padding: 2px;
    width: 10vmin;
    height: 10vmin;
    border: 4px solid var(--colour-primary);
    border-radius: 5px;
  }

  #email-icon {
    display: none;
  }

  /* Sections */
  #sections {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto 5vh;
  }

  #first-section, 
  #second-section {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  #first-section {
    height: 67%;
  }

  #second-section {
    flex-direction: column-reverse;
  }

  /* Content */
  #first-output, 
  #second-output, 
  #first-output-div input, 
  #first-output-div textarea, 
  #skills-div {
    font-size: 3vmin;
    line-height: 3vmin;
  }

  #first-output-div, 
  #second-output-div {
    margin: 2vh 0 0;
  }

  #first-output-div a, 
  #first-output-div a img, 
  #second-output-div a, 
  #second-output-div a img {
    border-radius: 10px;
  }

  #second-output-div, 
  #first-output-div {
    display: flex;
    justify-content: space-evenly;
  }

  /* Forms */
  input, 
  textarea, 
  .email-submit {
    width: 100%;
    padding: 6px;
  }

  textarea {
    height: 6vh;
  }

  .email-input {
    margin: 1vh 0;
  }

  /* Other */
  #link-buttons a {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
  }

  .tech {
    width: 15vmin !important;
    height: 20vmin !important;
    padding: 10px;
  }

  .image-out, 
  #skills-div {
    gap: 3vmin;
  }
}